{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="form-section">
    <div class="left">
        <div class="form-container">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "We are here to help you recover your password. Enter the email address you used when you joined and we’ll send you instructions to rest your password" %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <table class="form-table">
                    {{ form.as_table }}
                </table>
                <input class="button" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>

            <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>

        <!-- {% include 'account/footer.html' %} -->

        <footer>
            <nav>
                <ul>
                    <a class="back-link" href="javascript:window.history.back()">
                        <div class="icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </div>
                        <div class="text">
                            Back
                        </div>
                    </a>
                </ul>
            </nav>
        </footer>
    </div>

    <div class="right">
        <div class="img-container">
            <img src="/assets/img/All Auth Images/forget.jpg" alt="">
        </div>
    </div>
</section>
{% endblock %}