{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="form-section">
    <div class="left">
        <div class="form-container">
            <h1>{% trans "Password Reset" %}</h1>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %} 
            
            <p>{% blocktrans %}We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. <br> We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.{% endblocktrans %}</p>


        </div>
        <!-- {% include 'account/footer.html' %}         -->

        <footer>
            <nav>
                <ul>
                    <a class="back-link" href="javascript:window.history.back()">
                        <div class="icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </div>
                        <div class="text">
                            Back
                        </div>
                    </a>
                </ul>
            </nav>
        </footer>
    </div>

    <div class="right">
        <div class="img-container">
            <img src="/assets/img/All Auth Images/password_change.jpg" alt="">
        </div>
    </div>
</section>
    
{% endblock %}