{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="form-section">
    <div class="left">
        <div class="form-container">
            <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <table class="form-table">
            {{ form.as_table }}
        </table>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
        </div>
        
        <!-- {% include 'account/footer.html' %} -->

        <footer>
            <nav>
                <ul>
                    <a class="back-link" href="javascript:window.history.back()">
                        <div class="icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </div>
                        <div class="text">
                            Back
                        </div>
                    </a>
                </ul>
            </nav>
        </footer>
    </div>
    
    <div class="right">
        <div class="img-container">
            <img src="/assets/img/All Auth Images/password_change.jpg" alt="">
        </div>
    </div>
</section>

{% endblock %}