{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<section class="form-section">
    <div class="left">
        <div class="form-container">
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use
                your {{provider_name}} account to login to
                {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}
                <table class="form-table">
                    {{ form.as_table }}
                </table>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>

        <!-- {% include 'account/footer.html' %} -->
    
               <footer>
                <nav>
                    <ul>
                        <a class="back-link" href="javascript:window.history.back()">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> </svg>
                            </div>
                            <div class="text">
                                Back
                            </div>
                        </a>
                    </ul>
                </nav>
               </footer>
          

    </div>

    <div class="right">
        <div class="img-container">
            <img src="/assets/img/All Auth Images/signup.jpg" alt="">
        </div>
    </div>
</section>



{% endblock %}