asgiref
certifi
charset-normalizer
colorlog
diff-match-patch
Django
django-api-helper
django-cleanup
django-cors-headers
django-debug-toolbar
django-filter
django-import-export
django-model-utils
django-redis
django-simple-history
django-tinymce
django-unfold
djangorestframework
djangorestframework_simplejwt
dotenv
gunicorn
idna
iniconfig
numpy
packaging
pandas
pillow
pluggy
psutil
Pygments
PyJWT
pytest
python-dateutil
python-dotenv
pytz
razorpay
redis
requests
six
sqlparse
tablib
typing_extensions
tzdata
urllib3
