{%extends 'web/layout.html'%}
{% load static %}

{%block content%}
<section class="landing" id="landing">
    <div class="content-container">
        <h1>We are a <span id="c">C</span>reative Digital Company</h1>
        <p>Everything digital is our playground</p>
        <a href="" class="cta-container">
            <div class="cta-title">Get Started</div>
            <div class="img-container">
                <img src="{%static 'web/img/arrow-narrow-right.svg' %}" alt="">
            </div>
        </a>
        </div>
    </div>
</section>

<div class="journey-wrapper">
<section class="about-us">
    <div class="about-content-container">
        <div class="left">
            <div class="circle-container">
                <div class="circle" style="opacity: 0.2;"></div>
                <div class="circle" style="opacity: 0.4;"></div>
                <div class="circle" style="opacity: 0.6;"></div>
                <div class="circle" style="opacity: 0.8;"></div>
                <div class="circle"></div>
            </div>
            <h2 class="we-are-title">
                <span class="red">We are</span> WOLFx Digital Agency
            </h2>
        </div>
        <div class="right">
            <div class="short-about-us">
                <p>At WOLFx Digital Agency, we don't just solve IT challenges.</p> 
                <p>We engineer your success.</p><br>
                <p>Whether you're looking to revamp your technology stack, optimize your processes, or expand your team with top-tier IT talent, we have the expertise to make it happen.</p>
            </div>
        </div>
    </div>
    <div class="band-container">
        <div class="band band-1">
            <div class="band-inner">
                <span>
                    Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations | Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations |&nbsp;
                </span>
                <span>
                    Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations | Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations |&nbsp;
                </span>
            </div>
        </div>
        <div class="band band-2">
            <div class="band-inner">
                <span>
                    Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations | Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations |&nbsp;
                </span>
                <span>
                    Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations | Web Application | Mobile Application | Remote Team | IT Infrastructure | Tech Consultations |&nbsp;
                </span>
            </div>
        </div>
    </div>
    <div class="shape-container">
        <div class="circle"></div>
        <div class="line-1"></div>
        <div class="line-2"></div>
    </div>
    <div class="full-container">
        <div class="top">
            <div class="slider">
                <div class="slide">
                    <div class="img-container">
                        <img src="https://picsum.photos/500" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="img-container">
                        <img src="https://picsum.photos/500" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="img-container">
                        <img src="https://picsum.photos/500" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="img-container">
                        <img src="https://picsum.photos/500" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="img-container">
                        <img src="https://picsum.photos/500" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="img-container">
                        <img src="https://picsum.photos/500" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="slider">
                <div class="slide">
                    <div class="img-container">
                        <img src="https://picsum.photos/500" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="service-title">
        <h2>Our Services</h2>
        <div class="line-1 line"></div>
        <div class="line-2 line"></div>
        <div class="line-3 line"></div>
    </div>
    <div class="service-grid">
        <div class="web-development-service service-card">
            <h3 class="service-name">Web Development</h3>
            <p class="service-content">Experience the artistry of our web development services, where your vision transforms into a dynamic and interactive reality.</p>
            <div class="service-cta">
                <a href="" class="service-cta">
                    <span>Get Started</span>
                    <div class="img-container">
                        <img src="{%static 'web/img/arrow-narrow-up.svg' %}" alt="up-arrow">
                    </div>
                </a>
            </div>
        </div>
        <div class="web-development-service service-card">
            <h3 class="service-name">Web Development</h3>
            <p class="service-content">Experience the artistry of our web development services, where your vision transforms into a dynamic and interactive reality.</p>
            <div class="service-cta">
                <a href="" class="service-cta">
                    <span>Get Started</span>
                    <div class="img-container">
                        <img src="{%static 'web/img/arrow-narrow-up.svg' %}" alt="up-arrow">
                    </div>
                </a>
            </div>
        </div>
        <div class="web-development-service service-card">
            <h3 class="service-name">Web Development</h3>
            <p class="service-content">Experience the artistry of our web development services, where your vision transforms into a dynamic and interactive reality.</p>
            <div class="service-cta">
                <a href="" class="service-cta">
                    <span>Get Started</span>
                    <div class="img-container">
                        <img src="{%static 'web/img/arrow-narrow-up.svg' %}" alt="up-arrow">
                    </div>
                </a>
            </div>
        </div>
        <div class="web-development-service service-card">
            <h3 class="service-name">Web Development</h3>
            <p class="service-content">Experience the artistry of our web development services, where your vision transforms into a dynamic and interactive reality.</p>
            <div class="service-cta">
                <a href="" class="service-cta">
                    <span>Get Started</span>
                    <div class="img-container">
                        <img src="{%static 'web/img/arrow-narrow-up.svg' %}" alt="up-arrow">
                    </div>
                </a>
            </div>
        </div>
        <div class="web-development-service service-card">
            <h3 class="service-name">Web Development</h3>
            <p class="service-content">Experience the artistry of our web development services, where your vision transforms into a dynamic and interactive reality.</p>
            <div class="service-cta">
                <a href="" class="service-cta">
                    <span>Get Started</span>
                    <div class="img-container">
                        <img src="{%static 'web/img/arrow-narrow-up.svg' %}" alt="up-arrow">
                    </div>
                </a>
            </div>
        </div>
        <div class="web-development-service service-card">
            <h3 class="service-name">Web Development</h3>
            <p class="service-content">Experience the artistry of our web development services, where your vision transforms into a dynamic and interactive reality.</p>
            <div class="service-cta">
                <a href="" class="service-cta">
                    <span>Get Started</span>
                    <div class="img-container">
                        <img src="{%static 'web/img/arrow-narrow-up.svg' %}" alt="up-arrow">
                    </div>
                </a>
            </div>
        </div>
        

    </div>
</section>
</div>

{%endblock%}